@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-button: var(--button);
    --color-button-border: var(--button-border);
}

@layer base {
    @media (prefers-color-scheme: light) {
        :root {
            --foreground: var(--color-neutral-800);
            --background: var(--color-stone-200);
            --button: var(--color-stone-400);
            --button-border: var(--color-slate-700);
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground: var(--color-stone-200);
            --background: var(--color-neutral-800);
            --button: var(--color-stone-900);
            --button-border: var(--color-slate-600);
        }
    }

    :root {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: var(--color-foreground);
        background-color: var(--color-background);

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .dark {
        --foreground: var(--color-stone-200);
        --background: var(--color-neutral-800);
        --color-button: var(--color-stone-900);
        --color-button-border: var(--color-slate-600);
    }

    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }
    a:hover {
        color: #535bf2;
    }

    body {
        margin: 0;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: var(--color-button);
        cursor: pointer;
        transition: border-color 0.25s;
    }
    button:hover {
        border-color: var(--color-button-border);
    }
    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}
